.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F2F2F2;
  position: relative;
  /* Релативное позиционирование должно быть именно у шапки */
  z-index: 1;
  /* Используем z-index на шапке со значением 1, чтобы квадрат не падал под фон. */
}

.header__title {
  width: 730px;
  /* Можно лучше: используйте свойство max-width для текстовых элементов */
  font-size: 102px;
  line-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  /* Можно лучше: используйте свойство max-width для текстовых элементов */
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
  /* Используем понижение z-index здесь для того, чтобы  */
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*
  Можно лучше: Изображения могут искажаться в пропорциях. На всякий случай, хорошо бы задавать поведения для фонового или контентного изображения изображения.
  Ссылка на object-fit;
  */
  position: absolute;
  right: 0;
  bottom: 0;
  /* Можно лучше: указывая значение 0 для margin/padding/top/left не стоит использовать единицу измерения */
}

.logo {
  width: 183px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  /* В блок выносим только общие описательные стили, не влияющие на внешнюю геометрию и позиционирование */
}

.logo_place_header {
  height: 32px;
  background-image: url('../images/logo.svg');
  position: absolute;
  top: 30px;
  left: 64px;
  /* Изменяющиеся стили и позиционирование */
}

.logo_place_footer {
  height: 35px;
  /* Если слегка обрезается - допустимо, ничего критичного. */
  background-image: url('../images/logo_white.svg');
}

.description {
  margin: 100px 0;
  /*
  Допустимо, если студент замиксует дополнительно two-columns от description и там использует margin. На данном этапе не особо принципиально, откуда даются отступы.
  Но как "Можно лучше" - писать можно
  */
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2F80ED;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  max-width: 80%;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  /* Можно лучше: в данном случае можно опустить размеры шрифта и интерлиньяж, они наследуются. Но в целом, так делать - не лучшая практика относительно БЭМ */
  font-weight: bold;
}

.digits {
  max-width: 1100px;
  /*
  Допустим использовать здесь flex заместо margin: auto. Это кажется лишним, но выглядит корректно
  вместе с блоком kaufman. Ни один из подходов не является ошибочный.
  */
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px auto;
}

.section-title {
  max-width: 60%;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  margin: 0 auto;
}

.section-title_theme_dark {
  color: white;
  /* "Можно лучше": задавать цвета в едином формате. */
}

.section-subtitle {
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin: 20px auto 0;
  /* Допустимо миксовать от родителя для создания отступов. Как "Можно лучше" */
}

.section-subtitle__theme_dark {
  color: white;
}

.table {
  width: 1100px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

/*
Советуйте в реализации "Можно лучше"
.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 0;
}

.table__cell {
  width: calc(100% / 4 - 40px)
  margin: 60px 20px 0;
}

*/

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 20px;
  /*
  Отступы схлопнуться. Это "Можно лучше" - если текста не будет, а будет другое содержимое - у заголовка будут собственные отступы, создающие пространство
  между элементами.
   */
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0;
}

.table__text_theme_dark {
  color: white;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feinman {
  min-height: 790px;
  /* Можно лучше: использовать flex-column с центровкой. */
  /*
  Не хорошо делать высоту фиксированной. Фиксированные значения могут привести к проблемой с версткой при добавлении
  контента
  */
  background: #F2F2F2;
  background-image: url('../images/feinman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  /*
  Можно посоветовать shorthand:
  background: no-repeat left bottom url('../images/feinman.png'),
  #F2F2F2;
  background-size: 867px 637px;
  */
  position: relative;
  padding-top: 100px;
  /*Используем padding, чтобы не терять цвет фона*/
}

.feinman__title {
  max-width: 648px;
  font-size: 120px;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto;
}

.feinman__subtitle {
  /* Допустимо ограничить ширину. */
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  margin: 70px 0;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1F1F1F;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: no-repeat url('../images/triangle.svg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  /* Допустимо использовать здесь флекс для того, чтобы расправить footer__columns. Альтернатива height: 100% */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Изменяем box-sizing, все влезло в min-height, в том числе и внутренние отступы */
  background: #1F1F1F;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  color: white;
  /* Цветами управляем императивно, без наследования. Но допустимо наследовать. Это не будет ошибкой */
  font-size: 18px;
  line-height: 25px;
  margin: 18px 0;
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;

  margin: 0;
}

.footer__column-links {
  margin: 20px 0;
}

.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  /* Создает необходимый отступ между элементами. Добавление дополнительного отступа - "Можно лучше". */
  text-decoration: none;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
}
